
body{
    background-color:white;
    margin: 0px;
    padding: 0px;
}
.work{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.search{
  width: 100%;
  height: 60px;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bar{
  display: inline-block;
    padding: 1%;
    margin: 2%;
    border: 2px solid grey;
    border-radius: 20%;
}
.mnv{
  display: flex;
}
.nv{
  width: 100%;
  display: inline-block;
}

.nv a:hover{
  background-color: darkslategrey;
  text-shadow: 3%;
  font-weight: bold;
  
  

}
#abc{
    height: 100%;
    width: 60px;
    padding: 1%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    border: 2px solid black;
}
header{
    text-align: center;
    font-size:100%;
    line-height: 100px;
   
}
p{
  font-family: sans-serif;
}
hr{
    background-color: black;
}

 img{
    height: 200px;
    width: 40%;
    display: inline-block;
    padding: 1%;
    
} 
img[alt='imgh']{
  height: 200px;
  width: 100%;
  display: inline-block;
  padding: 1%;
  
} 
.foot{
    background-color: wheat;
    height: 100px;
    width: auto;
  
    padding: 2%;
}
#grp{
    width: 100%;
    text-align: center;
    font-size: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      
}
.vid{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.btn1{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
.container{
  
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
/* @media  screen and(max-width:400px)  {
  .container{
    flex-direction: row;
  }
  
} */
 
  .items{
    /* width: 100%; */
    padding: 10px;
    margin: 15px;
    

    
  }
  .item1{
    
    background-color:greenyellow;
   
   
  }

  .item2{
    background-color:aqua;
  
  }
  .item3{
    background-color: blueviolet;
    
  }
  .item4{
    background-color:orange;
  
  }
  .item5{
    background-color: red;
  }

 .name{
  width: 100%;
  height: 200px;
  text-align: center;
 font-size: 100px;
 padding-top: 5%;
 
 background-image: url("../images/pexels-fauxels-3183190.jpg");
 background-repeat: no-repeat;
 background-size: cover;


 
 }
 .jn{
  text-align: center;
 }
 
 .one{
   width: auto;
   height: auto;
   
 }
 @media screen and (max-width:400px){
 .two{
  width: auto;
height: 600px;
 }
}
#one1{
  border: 2px solid black;
}
#fst{
  border: 2px solid black;
}
 #snd{
  margin-left: 29%;
  float: left;
  border: 2px solid black;
 }
 @media screen and (max-width: 400px) {
 #snd{
    float: none;
    
 }
}


 video{
  width: 100%;
  height: 500px;
  
 }
 
 .btn{
  width: 12%;
  height: 4em;
  margin-left:5% ;
  border: 2px solid black;
  background-color:  lightblue;
 }
.ani{
  width:100%;
  height: 400px;
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ani1{
  width: 98%;
  align-self: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, brown,grey,yellow,magenta);
  /* margin:20px; */
  border: 2px solid red;
  animation: ani1 2s infinite ease;
  text-align: center;
  font-size: 70px;
}
@keyframes ani1{
  0%{
     
    transform: rotateY(90deg);
  }
  30%{
      
      transform: rotateY(90deg);

  }
}
/* @media screen  and (max-width:400px){
  .ani{
    display: block;
    word-wrap: normal;
    width: 390px;
  } */
  
